.vs*
__pycache__/
.paired
raspi/lsyncd.conf
# Kicad Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# BOM files
*.xml
*.csv

# kicad 8 backups
*-backups
*-bak
fp-info-cache
*-bak*
_autosave*
\#auto_saved_files\#
*-save.pro
*-save.kicad_pcb
*.kicad_prl
